
        <footer class="footer text-center py-4">

            <br>
            <small class="copyright">&copy; {{ now.Year }} {{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ else }}Ian Casey Douglas{{ end }}</small>
        </footer>
